<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="DbConnectionString1" value="Server=localhost\SQLEXPRESS;Database=dap_master;Trusted_Connection=True;" />
  <add key="DbConnectionString" value="Server=deephouseaccountdb.cv1llisahmax.us-east-1.rds.amazonaws.com;Database=dap_master;User Id=deephouse;Password=Idap3336;" />
  <add key="Postgres1" value="Server =localhost; User Id = dev; Password = nwdidb19; Database = nwdi_ts; Port=5433;CommandTimeout=0" />
  <add key="Postgres" value="Server =idapt.duckdns.org; User Id = postgres; Password = dapdata123; Database = postgres; Port=6789;CommandTimeout=0" />
  <add key="Elastic" value="http://idapt.duckdns.org:9200" />
  <add key="Mongo" value="mongodb+srv://deephouseio:Idap3336@cluster0.aka48.mongodb.net/dap?retryWrites=true&amp;w=majority" />
  </appSettings>
</configuration>
