<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="localDb" value="Server = localhost\\SQLEXPRESS; Database = dap_master; Trusted_Connection = True;" />
  <add key="postgresdb" value="Server =localhost; User Id = dev; Password = nwdidb19; Database = nwdi_ts; Port=5433;CommandTimeout=0" />
</configuration>