<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Key1" value="28496275-nSxsF1awXJYW5XVXlVd6LF9EuRSlRYAkJDEXanB2B" />
    <add key="Key2" value="8EWuRuj3cdLxYnDFy8CQoqkuS1H8twMLJIymaoOheeSOd" />
    <add key="Key3" value="lGKPJML9GIVeEgzv4RbuOhjsh" />
    <add key="Key4" value="LIKdQnpsRbBID9Jof9HgNME7Kmuynwah8vWSWhjGbI3wDNDYRQ" />

  </appSettings>
</configuration>