akka {
	actor {
		provider = cluster		
	}
						
	remote {
		log-remote-lifecycle-events = on
		dot-netty.tcp {
				hostname ="127.0.0.1"
				port = 0	
				maximum-frame-size = 25600000b
			}
	}			

	cluster {
		#will inject this node as a self-seed node at run-time
		seed-nodes = ["akka.tcp://dap-actor-system@192.168.1.13:3551"] # address  of seed node
		roles = ["worker"]
	}
}
